<form action="/cats/add/<%= @cat.id %>" method="post" enctype="multipart/form-data">
  <p>What does this cat like?</p>
  <input type="text" name="thing" placeholder="boxes">

  
  <p>When you're ready, click the button below to save this cat's favorite things.</p>
  <input type="submit">
</form>