<h1>New Cat</h1>

<form action="/cats/save" method="post" enctype="multipart/form-data">
  <p>Type the cat's name below.</p>
  <input type="text" name="name">

  <p>Add a photo of this cat.</p>
  <input type="file" name="photo">

  <p>When you're ready, click the button below to save the cat.</p>
  <input type="submit">
</form>